/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.panel{
  background: #2D415B;
  text-align: center;

}

body {
   background: #9C98A6;
   color: #FBFBFA;
   font-family: 'Imprima';font-size: 22px;
 }

h1 {
  color: #FBFBFA;
  text-align: center;
  font-family: 'Imprima';
}

h2{
  font-family: 'Imprima';font-size: 30px;
  color: #FBFBFA;
}

h3{
  font-family: 'Imprima'
}

a {
  color: #FBFBFA;
}

#genre-description{
  text-align: center;
}

#genre-description h3{
  color: #FBFBFA;
  font-family: 'Imprima';font-size: 22px;
}

.right {
  font-family: 'Imprima';font-size: 22px;
}

.button {
  background: #2D415B;
  font-family: 'Imprima';
}

.top-bar {
  background: #2D415B
}

#error_explanation{
  color: #8B0000
}

.flash-alert{
    color: #8B0000
}

.field {
 font-size: 15px;
 color: #2D415B
}

.museum-details-box p{
color: #FBFBFA;
}

.museum-details-box h1{
color: #FBFBFA;
}

.museum-details-box h3{
  color: #FBFBFA;
}

.topleft {
  position: inherit;
  top: 10px;
  left: 15px;
}

.tiny {
  font-family: 'Imprima';
}

.gobackbutton {
  padding: .5rem .5rem .825rem;
}

.signup1 {
  padding-left: 1rem;
}

.signupbutton {
  padding-right: 2rem;
}

.forgotpassword {
  color: green;
}

p{
  font-family: 'Imprima'
}

.fa-star {
  color: #FBFBFA;
}

.thumbs {
  color: #FBFBFA;
}

.right {
  background: #2D415B;
  font-family: 'Imprima';
}
